pipelines:
  default:
    - step:
        name: Build and test
        image: python:2.7
        script:
          - python setup.py sdist
  tags:
    '*':
      - step:
          name: Build and test
          image: python:2.7
          script:
            - python setup.py sdist
          artifacts:
            - dist/**
      - step:
          name: Deploy
          image: google/cloud-sdk
          script:
            # Authenticating with the service account key file
            - echo $GCLOUD_API_KEYFILE | base64 --decode --ignore-garbage > ./gcloud-api-key.json
            - gcloud auth activate-service-account --key-file gcloud-api-key.json
            # Linking to the Google Cloud project
            - gcloud config set project $GCLOUD_PROJECT
            - gsutil -m cp -a public dist/** gs://tfcf/releases/
